.dailyList {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 20%;
    list-style: none;
    gap: 20px;
}

.dailyList li {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 2px;
}

.dailyList img {
    height: 60px;
}

.tempImg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 23px;
}

.temp {
    font-weight: bold;
}